<div style="width: 20%; height:100%; background-color:LightSeaGreen; float:left;">
    <div style="height:50%">
        <rule-task-list (OnSelectTask)="GetSelectedTask($event)"></rule-task-list>
    </div>
    <div style="height:50%">
        <task-event-action></task-event-action>
    </div>
</div>

<div style="width: 80%; height:100%; background-color:LightSeaGreen; float:left;">
    <h3>User</h3>
    <div *ngFor="let user of users" id={{user.id}} (click)="toggleMultiSelect($event, user)" [hidden]="user.selected">{{user.name}}</div>
    <h3>Selected</h3>
    <div *ngFor="let user of selectedUsers" id={{user.id}} (click)="toggleMultiSelect($event, user)">{{user.name}}</div>    
</div>