<div class="TaskForm">
  <div class="TaskColumen">
    <div class="TaskDesc">說明</div>
    <input class="TaskInput"/>
  </div>
  <div  class="TaskColumen">
    <div class="TaskDesc">啟用/停用</div>
    <input class="TaskInput"/>
  </div>
  <div class="TaskColumen">
    <div class="TaskDesc">綁定動作</div>
    <input class="TaskInput"/>
  </div>
  <div class="TaskColumen">
    <div class="TaskSubForm">動作執行次數</div>
    <input class="TaskInput"/>
  </div>
  <div class="TaskColumen">
    <div class="TaskSubForm">是否定時發送</div>
    <input class="TaskInput"/>
  </div>
  <div class="TaskColumen">
    <div class="TaskSubForm">定期發送區間</div>
    <input class="TaskInput"/>
  </div>
  <div class="TaskColumen">
    <div class="TaskSubForm">標題</div>
    <input class="TaskInput"/>
  </div>
  <div class="TaskColumen">
    <div class="TaskSubForm">訊息格式</div>
    <input class="TaskInput"/>
  </div>
  <div class="TaskColumen">
    <div class="TaskDesc">綁定事件樣板</div>
    <input class="TaskInput"/>
  </div>
</div>